/*
	Types of elements:
		1. Block level elements.
		2. Inline elements are arranged horizontally.
		3. Flex elements are special elements which can be arranged horizontally, or vertically.
*/

.container {
	background-color: #555;
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

.item {
	width: 60px;
	height: 60px;
	/* display: block; no effect */
	/* display: inline; looses hight and width */
	display: inline-block; /* It is a mixture of these two, aligned horizontally, and maintains its height and width */  
}

.item1 {background-color: red;}
.item2 {background-color: blue;}
.item3 {background-color: green;}
.item4 {background-color: orange;}