.container {
	width: 800px;
	margin: auto;
	overflow: hidden;
}

li {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	list-style: none;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background: #e3e3e3;
}

/*li:first-child {
	background: green;
}

li:last-child {
	background: yellow;
}*/

/*li:nth-child(3n+2) {
	background: green;
}*/

/*h2 + p, h2 ~ p {
	font-size: 1.5em;
}*/






