body { background: #666;}
h1 {
	font-size: 100px;
	font-family: sans-serif;
	text-align: center;

	text-shadow: 0 1px 0 white;
}

div {
	background-color: white;
	font-size: 100px;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0 2px 0 red;
}